
<IfModule mod_rewrite.c>

RewriteEngine On

## If the URL does not map to an existing file on the file-system,
## it could be a page other than the home page; those are in the "pages" folder
## a little hackery follows to make this work
## on the live server and local environment setup
# this is for live server environment
	# If the URL don't map to an existing file
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteCond "%{REQUEST_URI}" ^/([^/]+)/([^/]+.*)
RewriteCond "%{DOCUMENT_ROOT}/%1/pages/%2\.php" -f
RewriteRule . /%1/pages/%2.php [L]
# this is for local dev environment
	# If the URL don't map to an existing file
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteCond "%{DOCUMENT_ROOT}/pages%{REQUEST_URI}\.php" -f
RewriteRule . /pages%{REQUEST_URI}.php [L]

## Social campaign redirects
RewriteRule ^balconies-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-Oct23-LargeBalconies [R=301,L]
RewriteRule /balconies-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-Oct23-LargeBalconies [R=301,L]

RewriteRule ^balconiesv-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Oct23-Balconies-Video [R=301,L]
RewriteRule /balconiesv-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Oct23-Balconies-Video [R=301,L]

RewriteRule ^balconytimelapse-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Feb2018-balcony-timelapse [R=301,L]
RewriteRule /balconytimelapse-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Feb2018-balcony-timelapse [R=301,L]

RewriteRule ^bedrooms-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-Oct23-SpaciousBedrooms [R=301,L]
RewriteRule /bedrooms-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-Oct23-SpaciousBedrooms [R=301,L]

RewriteRule ^design-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-Oct23-apartmentdesign [R=301,L]
RewriteRule /design-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-Oct23-apartmentdesign [R=301,L]

RewriteRule ^detailsv-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Oct23-Details-Video [R=301,L]
RewriteRule /detailsv-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Oct23-Details-Video [R=301,L]

RewriteRule ^homeofficev-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Oct23-Home-Office-Video [R=301,L]
RewriteRule /homeofficev-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Oct23-Home-Office-Video [R=301,L]

RewriteRule ^orr-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-Oct23-ORR [R=301,L]
RewriteRule /orr-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-Oct23-ORR [R=301,L]

RewriteRule ^orrtimelapse-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Feb2018-ORR-timelapse [R=301,L]
RewriteRule /orrtimelapse-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Feb2018-ORR-timelapse [R=301,L]

RewriteRule ^orrv-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Oct23-ORR-Video [R=301,L]
RewriteRule /orrv-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Oct23-ORR-Video [R=301,L]

RewriteRule ^partyspacev-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Oct23-Party-Video [R=301,L]
RewriteRule /partyspacev-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Oct23-Party-Video [R=301,L]

RewriteRule ^videob-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Oct23-Main-B-Video [R=301,L]
RewriteRule /videob-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-B-Oct23-Main-B-Video [R=301,L]

RewriteRule ^winddirection-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-Oct23-Wind-Direction [R=301,L]
RewriteRule /winddirection-fb$ http://livingwalls.in/?utm_source=facebook&utm_medium=cpc&utm_campaign=LZ-FB-Post-Oct23-Wind-Direction [R=301,L]

## END: Social campaign redirects


# the catch-all "else" block
# forward the request to index.php; it will do the heavy-lifting
# RewriteRule .? index.php [QSA,L]

</IfModule>
