/* -- Ads -- */
.ads-section {
	background-color: #565656;
}

.ads-section .h3-text {
	margin-bottom: 40px;
}

.video-carousel {}

.video-carousel .play-button {
	padding: 15px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.video-carousel .play-button:after {
	content: '';
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('/media/images/icon-play-video.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 70px;
	opacity: .6;
	pointer-events: none;
}

@media(max-width: 1040px) {
	.ads-section .h3-text {
		margin-bottom: 30px;
	}
}

@media(max-width: 640px) {
	.ads-section .h3-text {
		margin-bottom: 20px;
	}
}

@media(max-width: 400px) {
}
