
.detailed-specs-btn-form-container {
	position: relative;
	min-width: 280px;
	overflow: hidden;
}

.detailed-specs-form-error {
	margin: 0.1rem auto 0;
	width: 225px;
	text-align: left;
	color: #ffe302;
	font-size: 0.7rem;
	transition: opacity 0.15s ease-out;
}
.detailed-specs-form-error.fade-out {
	visibility: hidden;
	opacity: 0;
}


.detailed-specs-btn-form-container * {
	display: inline-block;

}
.detailed-specs-btn-form-container > button,
.detailed-specs-btn-form-container > a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
}

.detailed-specs-btn-form-container.interact > button,
.detailed-specs-btn-form-container.interact > a {
	-webkit-transform: translateX( -115% );
	transform: translateX( -115% );
}
.detailed-specs-btn-form-container.interact form {
	-webkit-transform: translateX( -100% );
	transform: translateX( -100% );
}
