
.detailed-specs-btn-form-container {
	position: relative;
	min-width: 280px;
	overflow: hidden;
}

.detailed-specs-form-error {
	margin: 0.1rem auto 0;
	width: 225px;
	text-align: left;
	color: #ffe302;
	font-size: 0.7rem;
	transition: opacity 0.15s ease-out;
}
.detailed-specs-form-error.fade-out {
	visibility: hidden;
	opacity: 0;
}


.detailed-specs-btn-form-container * {
	display: inline-block;

}
.detailed-specs-btn-form-container > button,
.detailed-specs-btn-form-container > a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
}
.detailed-specs-btn-form-container form {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	text-align: justify;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
	z-index: 1;
}

.detailed-specs-btn-form-container form:after {
	content: "";
	display: inline-block;
	width: 100%;
}
.detailed-specs-btn-form-container form > input {
	margin-left: 9%;
	background-color: transparent;
}
.detailed-specs-btn-form-container form > input::placeholder {
	color: #bbbbbb;
	font-size: 0.9rem;
}
.detailed-specs-btn-form-container form > button {
	position: relative;
	margin-right: 9%;
	background-image: url( "/media/images/icon-arrow-right-small.svg" );
	background-repeat: no-repeat;
	background-position: center;
	color: transparent;
}
.detailed-specs-btn-form-container form > button:after {
	content: "";
	position: absolute;
	top: -50%;
	left: -110%;
	padding: 30px;
	background-color: rgba( 255, 255, 255, 0.4 );
	border: 1px solid white;
}

.detailed-specs-btn-form-container.interact > button,
.detailed-specs-btn-form-container.interact > a {
	-webkit-transform: translateX( -115% );
	transform: translateX( -115% );
}
.detailed-specs-btn-form-container.interact form {
	-webkit-transform: translateX( -100% );
	transform: translateX( -100% );
}
